<%= render partial: 'shared/main_upper_section', locals: { current_main_section: 'forms' } %>

<div class="forms-main-page">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <%= render partial: 'shared/main_sidebar', locals: { main_page: 'forms', current_page: 'form_keys' } %>
      </div>
      <div class="column is-10">
        <%= render partial: '/shared/flash_message' %>

        <div class="default-box <%= 'margin-top-10' if flash[:notice].present? or flash[:alert].present? %>">
          <%= form_tag create_form_keys_url, html: { autocomplete: 'off' }, method: :post do %>
            <div class="columns">
              <div class="column is-5">
                <div class="input-title">Nome da chave:</div>
                <input type="text" name="form_key[key_name]" class="input" placeholder="Digite um nome para a chave" required>
              </div>
              <div class="column is-4">
                <div class="input-title">Questionário:</div>
                <div class="select">
                  <%= select_tag "quiz_select", options_for_select(@avaliable_quizzes), prompt: "Selecione o questionário", name: 'form_key[request_quiz_id]', class: "select" %>
                </div>
              </div>
              <div class="column is-3">
                <div class="input-title">Condições</div>
                <div class="dropdown dropdown-filter is-hoverable">
                  <div class="dropdown-trigger">
                    <div id="conditionsSelect" class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                      <label>Selecione um questionário</label>
                      <span class="icon is-small">
                        <%= inline_svg 'dropdown_arrow.svg' %>
                      </span>
                    </div>
                  </div>
                  <div id="conditionContent" class="dropdown-menu" role="menu">
                  </div>
                </div>
              </div>
            </div>
            <div class="columns is-vcentered">
              <div class="column is-5">
                <div class="b-checkbox is-primary no-select">
                  <input id="contentPrintable" name="form_key[is_answer_printable]" value="true" class="styled all-enterprise-type-checkbox" type="checkbox">
                  <label for="contentPrintable">
                    Imprimir resposta do questionário.
                  </label>
                </div>
              </div>
              <div class="column is-4">
                <div class="dropdown dropdown-filter is-hoverable">
                  <div class="dropdown-trigger">
                    <div id="answersSelect" class="button conditions-select" aria-haspopup="true" aria-controls="dropdown-menu" disabled>
                      <label>Selecione as perguntas</label>
                      <span class="icon is-small">
                        <%= inline_svg 'dropdown_arrow.svg' %>
                      </span>
                    </div>
                  </div>
                  <div id="answersContent" class="dropdown-menu" role="menu">
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column no-padding-top">
                <textarea id="contentTextarea" class="textarea" name="form_key[content]" placeholder="Digite o texto da chave" required></textarea>
              </div>
            </div>
            <div class="columns">
              <div class="column display-flex is-2">
                <button class="button is-primary is-fullwidth is-bottom-aligned">Criar</button>
              </div>
            </div>
          <% end %>
        </div>

        <div class="default-box margin-top-20">
          <div><a class="show-request-keys">Clique aqui</a> para ver as chaves presentes em pedidos</div>
          <div class="request-table">
            <table class="request-table fluid fixed-request-keys hide">
              <thead>
                <th>Descrição</th>
                <th>Exemplo</th>
                <th>Nome da chave</th>
              </thead>
              <tbody>
                  <tr>
                    <td><p>Empresa</p></td>
                    <td><p>Braskem</p></td>
                    <td><p>emp_10</p></td>
                  </tr>
                  <tr>
                    <td><p>Cidade</p></td>
                    <td><p>Camaçari</p></td>
                    <td><p>cid_30</p></td>
                  </tr>
                  <tr>
                    <td><p>Estado</p></td>
                    <td><p>BA</p></td>
                    <td><p>est_40</p></td>
                  </tr>
                  <tr>
                    <td><p>Nº da proposta</p></td>
                    <td><p>35826</p></td>
                    <td><p>pro_50</p></td>
                  </tr>
                  <tr>
                    <td><p>Mês atual</p></td>
                    <td><p>Setembro</p></td>
                    <td><p>mes_60</p></td>
                  </tr>
                  <tr>
                    <td><p>Ano atual em 3 caracteres</p></td>
                    <td><p>019</p></td>
                    <td><p>ano _70</p></td>
                  </tr>
                  <tr>
                    <td><p>Ano atual em 4 caracteres</p></td>
                    <td><p>2019</p></td>
                    <td><p>ano _80</p></td>
                  </tr>
                  <tr>
                    <td><p>Consultor técnico</p></td>
                    <td><p>Agueda Cavalcanti</p></td>
                    <td><p>con_90</p></td>
                  </tr>
                  <tr>
                    <td><p>Nome do cliente</p></td>
                    <td><p>João da Silva</p></td>
                    <td><p>nom_100</p></td>
                  </tr>
                  <tr>
                    <td><p>Telefone do cliente</p></td>
                    <td><p>(71) 3358-9825</p></td>
                    <td><p>tel_110</p></td>
                  </tr>
                  <tr>
                    <td><p>E-mail do cliente</p></td>
                    <td><p>joaodasilva@braskem.com</p></td>
                    <td><p>ema_120</p></td>
                  </tr>
                  <tr>
                    <td><p>Nome do orçamentista</p></td>
                    <td><p>Ivan Brasil</p></td>
                    <td><p>nom_140</p></td>
                  </tr>
                  <tr>
                    <td><p>Data atual (dia, mês e ano)</p></td>
                    <td><p>15/09/19</p></td>
                    <td><p>dat_150</p></td>
                  </tr>
                  <tr>
                    <td><p>Dados dimensionais</p></td>
                    <td><p>Comprimento da bomba</p></td>
                    <td><p>dad_160</p></td>
                  </tr>
                  <tr>
                    <td><p>Modalidade do Frete</p></td>
                    <td><p>FOB</p></td>
                    <td><p>mod_fret</p></td>
                  </tr>
                  <tr>
                    <td><p>Estimativa de valor de serviço</p></td>
                    <td><p>10.000,00</p></td>
                    <td><p>est_valor_serv</p></td>
                  </tr>
                  <tr>
                    <td><p>Frete total</p></td>
                    <td><p>400,00</p></td>
                    <td><p>fret_tot</p></td>
                  </tr>
                  <tr>
                    <td><p>Quem solicitou a proposta</p></td>
                    <td><p>Roberto Baptista</p></td>
                    <td><p>criado_por</p></td>
                  </tr>
                  <tr>
                    <td><p>Equipamento</p></td>
                    <td><p>Base de concreto</p></td>
                    <td><p>equip</p></td>
                  </tr>
                  <tr>
                    <td><p>Endereço do cliente</p></td>
                    <td><p>Condomínio Parana 264 - R. Paraná, 264 - Pituba, Salvador - BA, 41830-170</p></td>
                    <td><p>end_client</p></td>
                  </tr>
                  <tr>
                    <td><p>Soma dos preços totais dos itens</p></td>
                    <td><p>1220,00</p></td>
                    <td><p>prec_tot</p></td>
                  </tr>
                  <tr>
                    <td><p>Coordenador</p></td>
                    <td><p>Roberto Baptista</p></td>
                    <td><p>coord</p></td>
                  </tr>
                  <tr>
                    <td><p>ICMS</p></td>
                    <td><p>4%</p></td>
                    <td><p>icms</p></td>
                  </tr>
                  <tr>
                    <td><p>Cargo do usuário gerador da proposta</p></td>
                    <td><p>Coordenador Regional</p></td>
                    <td><p>cargo</p></td>
                  </tr>
                  <tr>
                    <td><p>Nome do usuário gerador da proposta</p></td>
                    <td><p>Coordenador Regional</p></td>
                    <td><p>nome_do_gerador</p></td>
                  </tr>
                  <tr>
                    <td><p>Nome do Produto</p></td>
                    <td><p>Belzona 1111 1kg</p></td>
                    <td><p>produto.nome (apenas em loop de produtos)</p></td>
                  </tr>
                  <tr>
                    <td><p>Preço por embalagem + frete por embalagem</p></td>
                    <td><p>320,00</p></td>
                    <td><p>produto.prec_unit (apenas em loop de produtos)</p></td>
                  </tr>
                  <tr>
                    <td><p>Valor unitário * Quantidade</p></td>
                    <td><p>220,00</p></td>
                    <td><p>produto.prec_tot_item (apenas em loop de produtos)</p></td>
                  </tr>
                  <tr>
                    <td><p>Código do produto</p></td>
                    <td><p>005001000003</p></td>
                    <td><p>produto.cod (apenas em loop de produtos) </p></td>
                  </tr>
                  <tr>
                    <td><p>Quantidade de cada produto</p></td>
                    <td><p>12</p></td>
                    <td><p>produto.qtd_item (apenas em loop de produtos) </p></td>
                  </tr>
                  <tr>
                    <td><p>Quantidade de cada produto</p></td>
                    <td><p>120,00</p></td>
                    <td><p>produto.frete (apenas em loop de produtos) </p></td>
                  </tr>
                  <tr>
                    <td><p>Porcentagem do IPI por produto</p></td>
                    <td><p>4%</p></td>
                    <td><p>produto.ipi (apenas em loop de produtos) </p></td>
                  </tr>
                  <tr>
                    <td><p>Características do produto</p></td>
                    <td><p>BELZONA 9811 - Para aplicações em situações de ...</p></td>
                    <td><p>produto.caracteristicas (apenas em loop de produtos) </p></td>
                  </tr>
                  <tr>
                    <td><p>Rendimento do produto</p></td>
                    <td><p>1,06 m²/caixa</p></td>
                    <td><p>produto.rendimento (apenas em loop de produtos) </p></td>
                  </tr>
                  <tr>
                    <td><p>NCM do produto</p></td>
                    <td><p>69049000</p></td>
                    <td><p>produto.ncm (apenas em loop de produtos) </p></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="default-box margin-top-20">
          <div>Chaves personalizades disponíveis</div>
          <div class="available-forms-list request-table">
            <table>
              <thead>
                <th width="25%">Nome da chave</th>
                <th width="15%">Condições</th>
                <th>Conteúdo</th>
                <th width="10%">Ações</th>
              </thead>
              <tbody>
                <% @form_keys.each do |key| %>
                  <tr>
                    <td><div class="name"><%= key.key_name %></div></td>
                    <td><div class="name"><%= key.conditions %></div></td>
                    <% if key.is_answer_printable %>
                      <td><div class="name"><%= "Respostas das perguntas: #{key.answers_to_print}" %></div></td>
                    <% else %>
                      <td><div class="name"><%= key.content %></div></td>
                    <% end %>
                    <td>
                      <div class="actions" data-current-form="<%= key.id %>">
                        <div class="icon">
                          <%= link_to inline_svg("remove.svg"),
                          destroy_form_key_url(key.id),
                          method: :delete,
                          data: { confirm: 'Tem certeza que deseja remover esta chave?' } %>
                        </div>
                        <div class="icon">
                          <%= link_to inline_svg("edit.svg"),
                          edit_form_keys_url(key.id) %>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  var answers_options;

  $('#quiz_select').change(function() {
    var $select = $(this);
    var $conditions_select = $('#conditionContent');
    var $answers_select = $('#answersContent');
    var id = $(this).val();

    if (id != '') {
      $.ajax({
        url: '<%= get_request_quiz_identifiers_url %>',
        method: 'GET',
        data: {
          id: id
        },
        beforeSend: function() {
          $select.prop('disabled', true);
          $conditions_select.html('');
        },
        success: function(data) {
          answers_options = '<div class="dropdown-content">';
          var options_str = '<div class="dropdown-content">';

          for (var i = 0; i < data.length; i++) {
            options_str +=`
              <div class="b-checkbox is-primary no-select">
                <input id="${data[i].question.id}" name="conditions[]" value=${data[i].question.id} class="styled all-enterprise-type-checkbox" type="checkbox">
                <label for="${data[i].question.id}">
                  ${data[i].question.id} - ${data[i].question.text}
                </label>
              </div>`

            answers_options +=`
              <div class="b-checkbox is-primary no-select">
                <input id="${data[i].question.id}_answer" name="form_key[answers_to_print][]" value=${data[i].question.id} class="styled all-enterprise-type-checkbox" type="checkbox">
                <label for="${data[i].question.id}_answer">
                  ${data[i].question.id} - ${data[i].question.text}
                </label>
              </div>`

            for (var j = 0; j < data[i].answers.length; j++) {
              options_str +=`
                <div class="b-checkbox is-primary no-select">
                  <input id="${data[i].answers[j].id}" name="conditions[]" value=${data[i].answers[j].id} class="styled all-enterprise-type-checkbox" type="checkbox">
                  <label for="${data[i].answers[j].id}">
                    ${data[i].answers[j].id} - ${data[i].answers[j].text}
                  </label>
                </div>`
            }
          }

          options_str += '</div>';
          answers_options += '</div>';

          if (!$('#answersSelect').attr('disabled')) {
            $answers_select.html(answers_options);
          }

          $conditions_select.html(options_str);
          $('#conditionsSelect label').text('Nenhuma selecionada.');
          $select.prop('disabled', false);
        }
      });
    } else {
      $conditions_select.html('');
      $answers_select.html('');
      $('#conditionsSelect label').text('Selecione um questionário.');
    }
  });

  $('.file-input').change(function(e) {
    var fileName = e.target.files[0].name;
    $(this).parent().find('.file-name').text(fileName);
  });

  $(document).on('change', '.dropdown-content input', function() {
    var selected_number = $(this).closest('.dropdown').find('.dropdown-content input:checked').length;

    if (selected_number == 0) {
      $(this).closest('.dropdown').find('.dropdown-trigger label').text('Nenhuma selecionada.');
    } else if (selected_number == 1) {
      $(this).closest('.dropdown').find('.dropdown-trigger label').text('1 selecionada.');
    } else {
      $(this).closest('.dropdown').find('.dropdown-trigger label').text(`${selected_number} selecionadas.`);
    }
  });

  $('#contentPrintable').change(function() {
    $('#contentTextarea').prop('disabled', function(i, v) { return !v; });
    $('#answersSelect').attr('disabled', function(i, v) {

      if (v) {
        $('#answersContent').html(answers_options);
      } else {
        $('#answersContent').html('');
      }

      $('#answersSelect label').text('Nenhuma selecionada');
      return !v;
    });
  });

  $('.show-request-keys').click(function() {
    $('.fixed-request-keys').toggleClass('hide');
  });

</script>
