<%= render partial: 'shared/main_upper_section', locals: { current_main_section: 'proposals' } %>

<div class="proposals-main-page">
  <div class="proposals-main-container container">
    <div class="columns">
      <div class="column is-2">
        <%= render partial: 'shared/main_sidebar', locals: { main_page: 'proposals', current_page: 'elaborate_proposal' } %>
      </div>
      <div class="column is-10">
        <div class="requests-container">
          <div class="request-table-container default-box">
            <div class="request-table">
              <div class="margin-bottom-20">Estas são suas propostas pendentes que devem ser elaboradas. Clique no botão <span class="inline-icon see-request"><%= inline_svg 'link_box.svg' %></span> para iniciar a elaboração.</div>
            </div>
            <% if @requests.present? %>
              <table class="request-table fluid">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Oportunidade</th>
                    <th>Empresa</th>
                    <th>Prioridade</th>
                    <th>Impedido Com</th>
                    <th>Data</th>
                    <th>Valor(R$)</th>
                    <th>Tempo Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @requests.each do |request| %>
                    <tr data-request-id='<%= request.id %>' class="request-row pointer-cursor">
                      <td>CAH_BEL_CAN_253</td>
                      <td title="<%= request.get_request_code %>"><%= request.get_request_code %></td>
                      <td title="<%= request&.enterprise.name %>"><%= request&.enterprise.name %></td>
                      <td>
                        <div class="urgency <%= request.calculate_priority %>">
                          <div class="levels">
                            <div class="level"></div>
                            <div class="level"></div>
                            <div class="level"></div>
                            <div class="level"></div>
                          </div>
                        </div>
                      </td>
                      <td title="<%= request.detainees_number %>"><%= request.detainees_number %></td>
                      <td><%= request.created_at.strftime("%d/%m/%y %H:%M") %></td>
                      <td><%= number_to_currency request.calculate_request_revenue %></td>
                      <td><%= request.elapsed_time_since_created %></td>
                      <td><a href="<%= edit_request_url(request.id) %>" class="prevent-link-click"><div class="see-request"><%= inline_svg 'link_box.svg' %></div></a></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              <div class="columns">
                <div class="column text-center">Sem registros.</div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: 'requests/request_modal' %>
  <%= render partial: 'shared/change_hindrance_modal' %>
  <%= render partial: 'shared/new_hindrance_modal' %>
  <%= render partial: 'requests/add_technician_modal' %>
  <%= render partial: 'shared/files_modal' %>
  <%= render partial: 'requests/request_proposals_modal' %>
  <%= render partial: 'requests/specific_file_modal' %>
  <%= render partial: 'requests/refuse_proposal_modal' %>
  <%= render partial: 'requests/request_values_edition_modal' if can? :update_request_values, Request %>
  <%= render partial: 'requests/update_request_enterprise' %>
  <%= render partial: 'requests/proposal_file_modal' %>


</div>

<script type="text/javascript">
  $('.prevent-link-click').click(function(e) {
    e.stopPropagation();
  });
</script>
