<%= render partial: 'shared/main_upper_section', locals: { current_main_section: 'hindrance' } %>

<div class="hindrances-main-page">
  <div class="hindrances-main-container container">
    <%= render partial: 'shared/flash_message' %>
    <div class="columns">
      <div class="column is-2">
        <%= render partial: 'shared/main_sidebar', locals: { main_page: 'hindrances', current_page: 'others' } %>
      </div>
      <div class="column is-10">
        <div class="requests-container">
          <div class="request-table-container default-box">
            <div class="columns is-vcentered">
              <div class="column is-6 filters">
                <label>Adicione um consultor para ver os impedimentos</label>
                <div class="columns is-multiline is-variable is-1">
                  <div class="column is-9">
                    <input type="text" class="input consultant-autocomplete" name="">
                  </div>
                  <div class="column">
                    <button id="addConsultantFilterBt" class="button is-primary" disabled>Adicionar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns filters">
              <div class="column">
                <div class="columns consultants is-variable is-1"></div>
              </div>
            </div>
            <div class="hindrance-table-container">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'requests/request_modal' %>
<%= render partial: 'shared/change_hindrance_modal' %>
<%= render partial: 'shared/new_hindrance_modal' %>
<%= render partial: 'requests/add_technician_modal' %>
<%= render partial: 'requests/specific_file_modal' %>
<%= render partial: 'requests/request_proposals_modal' %>
<%= render partial: 'shared/files_modal' %>
<%= render partial: 'requests/installments_modal' %>
<%= render partial: 'requests/refuse_proposal_modal' %>
<%= render partial: 'requests/request_values_edition_modal' if can? :update_request_values, Request %>
<%= render partial: 'requests/update_request_enterprise' %>
<%= render partial: 'requests/proposal_file_modal' %>

<script type="text/javascript">
  var user_ids = []

  $('.consultant-autocomplete').autoComplete({
    minChars: 2,
    source: function(term, response) {
      var xhr;
      var matches = [];
      term = term.toLowerCase();

      try { xhr.abort(); } catch(e) {}
      xhr = $.getJSON('/user_autocomplete', { q: term }, function(data) {

        if (data.length > 0) {
          for (i = 0; i < data.length; i++)
            if (~data[i][0].toLowerCase().indexOf(term)) matches.push(data[i]);
        }

        response(matches);
      });
    },
    renderItem: function (item, search) {
      search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
      var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
      return '<div class="autocomplete-suggestion" data-user-id="' + item[1] +'" data-val="' + item[0] + '">'+ item[0].replace(re, "<b>$1</b>") + '</div>';
    },
    onSelect: function(event, term, item) {
      $("#addConsultantFilterBt").attr('user-id', item.data('user-id'));
      $("#addConsultantFilterBt").prop('disabled', false);
    }
  });

  $("#addConsultantFilterBt").click(function() {
    $(".consultants").html('');

    user_ids.push($(this).attr('user-id'));
    user_ids = uniq(user_ids);

    $.each(uniq(user_ids), function(i, e) {
      $.getJSON("<%= get_user_infos_url('_id_') %>".replace("_id_", e), function(data) {

        $(".consultants").append(`
          <div class="column is-narrow person">
            <input type="hidden" name="user_ids[]" value="${data.id}">
            <div class="person-tag">
              <div class="sphere" style="background-color: ${data.color}">
                <div class="initials">${data.initials}</div>
              </div>
              <div class="name consultant-name">${data.name}</div>
              <span class="remove-person" user-id=${data.id}>x</span>
            </div>
          </div>
        `);
      });

      $(".consultant-autocomplete").val('');
      $("#addConsultantFilterBt").prop('disabled', true);
      $("#addConsultantFilterBt").removeAttr('data-user-id');

      if (user_ids.length > 0) {
        searchHindrances();
      }
    });
  });

  $(document).on("click", ".remove-person", function() {
    var id = $(this).attr('user-id');

    user_ids.splice($.inArray(id, user_ids), 1);

    $(this).parent().parent().remove();

    if (user_ids.length == 0) {
      $(".hindrance-table-container").html('');
    } else {
      searchHindrances();
    }
  });

  function uniq(list) {
    var result = [];

    $.each(list, function(i, e) {
        if ($.inArray(e, result) == -1) result.push(e);
    });

    return result;
  }

  function searchHindrances() {
    var table_container = $('.hindrance-table-container');

    $.ajax({
      url: '<%= render_hindrance_table_url %>',
      method: 'GET',
      data: {
        user_id: user_ids,
      },
      beforeSend: function() {
        table_container.html(`
          <div id="loadingMessage" class="columns is-vcentered is-centered">
            <div class="column is-narrow">
              <div>Carregando tabela de impedimentos</div>
              <div class="columns is-centered">
                <div class="column is-narrow"><div class="loader is-loading"></div></div>
              </div>
            </div>
          </div>
        `);
      },
      error: function() {
        table_container.html(`
          <div id="loadingMessage" class="columns is-vcentered is-centered">
            <div class="column is-narrow">
              <div>Ocorreu um erro ao carregar tabela de impedimentos</div>
            </div>
          </div>
        `);
      }
    });
  }
</script>
